rootfs/**
rootfs
initrd
vmlinux
rootfs.ext4
initramfs-overlay/**
data/**
*.raw
*.sock
kernel
kernel/**
bin/**
.env
tmp
tmp/**
.datadir

# Cloud Hypervisor binaries (embedded at build time)
lib/vmm/binaries/cloud-hypervisor/*/*/cloud-hypervisor
