rootfs/**
rootfs
initrd
vmlinux
rootfs.ext4
initramfs-overlay/**
data/**
*.raw
*.sock
kernel
kernel/**
bin/**
.env
tmp
tmp/**
.datadir

# Cloud Hypervisor binaries (embedded at build time)
lib/vmm/binaries/cloud-hypervisor/*/*/cloud-hypervisor
cloud-hypervisor
cloud-hypervisor/**
lib/system/exec_agent/exec-agent

# Envoy binaries
lib/ingress/binaries/envoy/*/*/envoy
