name: Test

on:
  push: {}

jobs:
  test:
    runs-on: [self-hosted, linux, x64, kvm]
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      
      - name: Install dependencies
        run: |
          set -xe
          if ! command -v mkfs.erofs &> /dev/null; then
            sudo apt-get update
            sudo apt-get install -y erofs-utils
          fi
          go mod download
      
      # Avoids rate limits when running the tests
      # Tests includes pulling, then converting to disk images
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      
      - name: Run tests
        run: make test
      
      - name: Build
        run: make build
